body {
	font-family: Arial, sans-serif;
	margin: 15px;
	padding: 15px;
}

#chat {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#messages {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	min-height: 200px;
	height: 350px;
	max-height: 100%;
	overflow-y: auto;
}

#messageInput {
	box-sizing: border-box;
	width: 100%;
	min-height: 75px;
	height: 150px;
	max-height: 350px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	resize: vertical;
}

#sendButton {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#sendButton:hover {
	background-color: #0056b3;
}

#onlineUsers {
	font-weight: bold;
}